<div class="w-full max-w-3xl mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-8">
    <h1 class="pt-4 mb-2 text-4xl font-bold heading">New Store</h1>
    <h2 class="pt-2 mb-8 text-lg">
      You need to setup the store to access other features of the app.
    </h2>
    <%= render 'form', store: @store %>
  </div>
</div>
