<% flash.each do |type, message| %>
  <% if type == "alert" %>
    <div class="notice bg-transparent border-2 border-red-300 p-1 m-4 rounded">
      <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
    </div>
  <% end %>
  <% if type == "notice" %>
    <div class="notice bg-transparent border-2 border-green-300 p-1 m-4 rounded">
      <div class="container px-2 py-4 mx-auto font-sans font-medium text-center text-white"><%= message %></div>
    </div>
  <% end %>
<% end %>
