<div class="w-full mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-8">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="pt-4 mb-8 text-4xl font-bold heading">Organizations</h2>
    </div>
    <div class="table-responsive-lg w-full">
      <table class="table">
        <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td class="w-full border border-gray-200 p-4">
              <%= organization.name %><br/>
              <%= link_to "Edit", edit_organization_path(organization) %>
              <% if organization != current_user.preferred_organization %>
                  | <%= link_to "Make Default", set_as_preferred_organization_path(organization) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to 'New Organization', new_organization_path, class: 'btn btn-default mt-4' %>
  </div>
</div>


