<p>Hello <%= @resource.name.humanize %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, host: Rails.configuration.domain.kiosk) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

Yours friendly, <br/>
Pointsify team.
<br/>
<br/>
<%= link_to 'Pointsify Kiosk', kiosk_root_url(host: Rails.configuration.domain.kiosk) %>