<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <div class="flex">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">
            <% @spends = @stats.spends_in_last_ %>
            <%=Money.new(@spends*100, "INR").format(south_asian_number_formatting: true)%>
          </span>
        <% @spends_difference = @stats.spends_difference_compared_to(@spends) %>
        <% if @spends_difference !='N/A' %>
          <% @spends_difference_class = @spends_difference < 0 ? 'text-red-500' : 'text-green-500' %>
          <div class="ml-2 w-0 flex items-center flex-1 <%=@spends_difference_class%> text-base font-bold">
            <%=number_to_percentage(@spends_difference.abs, precision: 0)%>
            <% if @spends_difference > 0 %>
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            <% else %>
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
      <h3 class="text-base font-normal text-gray-500">Spend by Frequents in the last 30 days</h3>
    </div>
  </div>
</div>
