<!DOCTYPE html>
<html id="app" class="antialiased">
  <%= render "shared/head" %>
  <body class="leading-normal tracking-normal text-white text-gray-800 bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
    <%= render "shared/flash_notice" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
